# Environments
.venv/
env/
venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environment Variables (secrets)
.env

# Frontend & Dependencies
node_modules/

# OS Files
.DS_Store
Thumbs.db

.vite